* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    color: aliceblue;
    background-color: rgb(6, 48, 48);
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(6, 64, 64);
}