* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    background-color: rgb(59, 15, 100);
}

button {
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 4px;
    border: none;
    border-radius: 5px;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(232, 207, 255);
}
